.btn.green, .btn-dark.green {
	border-color: rgba(55, 141, 59, 1) !important;
}

.btn.grey, .btn-dark.grey {
	border-color: rgba(96, 125, 139, .3) !important;
}

.btn.grey-dark, .btn-dark.grey-dark {
	border-color: rgba(34, 34, 34, .5) !important;
}

.btn.grey-light, .btn-dark.grey-light {
	border-color: rgba(96, 125, 139, .2) !important;
}

.btn.red, .btn-dark.red {
	border-color: #C2272C !important;
}

.btn.blue, .btn-dark.blue {
	border-color: rgba(25, 118, 210, 1) !important;
}

.btn.peach {
	border-color: rgb(240, 171, 149) !important;
}

/*Kipa-Button*/
.btn, .btn-dark {
	opacity: .9;
	text-shadow: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	border-radius: 3px;
	border: .08em solid;
	border-bottom: .15em solid;
}

.btn-dark {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /*border: 1px solid transparent;*/
}

.btn.focus, .btn:focus, .btn:hover {
  	opacity: 1;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, .8);*/
}

.btn-dark.focus, .btn-dark:focus, .btn-dark:hover {
	color: white;
  	opacity: 1;
  	/*box-shadow: 0 0 5px rgba(0, 0, 0, .8);*/
}

.btn:active:focus, .btn:focus, .btn-dark:active:focus, .btn-dark:focus {
	outline: none;	
}

.btn-full {
	width: 100%;
}

.btn-half {
	width: 49%;
}