/*
Referensi Warna
https://www.materialpalette.com/

Green
ori: #5EB530
kip: #378D3B - dark
kip: #4BAE4F - primary
kip: #C8E6C9 - light

Amber
ori: #ED9519
kip: #FEC006 - primary
kip: #FE9F00 - dark
kip: #FFECB3 - light

*/


/*Kipa-Color*/

.ki-no-color {
    background-color: transparent !important;
}

.ki-amber.dark {
    background-color: rgb(254, 159, 0) !important;
    color: rgba(34, 34, 34, 1) !important;
}

.ki-amber {
    background-color: rgb(254, 192, 6) !important;
    color: rgba(34, 34, 34, 1) !important;
}

.ki-amber.light {
    background-color: rgb(255, 236, 179) !important;
    color: rgba(34, 34, 34, 1) !important;
}

.ki-amber:hover {
    background-color: rgb(254, 192, 6) !important;
}

.ki-blue.darken {
    background-color: rgb(49, 73, 115) !important;
    color: white !important;
}

.ki-blue.dark {
    background-color: rgba(25, 118, 210, 1) !important;
    color: rgba(187, 222, 251, 1) !important;
}

.ki-blue {
    background-color: rgba(33, 150, 243, 1) !important;
    color: white !important;
}

.ki-blue.light {
    background-color: rgba(178, 228, 251, 1) !important;
    color: rgba(34, 34, 34, 1);
}

.ki-blue:hover {
    background-color: rgba(33, 150, 243, 1) !important;
}

.ki-green.dark {
    background-color: rgb(56, 142, 60) !important;
    color: white;
}

.ki-green {
    background-color: rgb(76, 175, 80) !important;
    color: white;
}

.ki-green.light {
    background-color: rgb(200, 230, 201) !important;
    color: rgba(34, 34, 34, 1) !important;
}

.ki-green:hover {
    background-color: rgb(76, 175, 80) !important;
}

.ki-grey.dark {
    background-color: rgba(96, 125, 139, 1) !important;
    color: white;
}

.ki-grey {
    background-color: rgba(207, 216, 220, 1) !important;
    color: rgba(33, 33, 33, 1) !important;
}

.ki-grey.light {
    background-color: rgba(207, 216, 220, .5) !important;
    color: rgba(33, 33, 33, 1) !important;
}

.ki-grey:hover {
    background-color: rgba(207, 216, 220, 1) !important;
}

.ki-lime.dark {
    background-color: rgba(175, 180, 43, 1) !important;
    color: rgba(240, 244, 195, 1) !important;
}

.ki-lime {
    background-color: rgba(205, 220, 57, 1) !important;
    color: rgba(34, 34, 34, 1) !important;
}

.ki-lime.light {
    background-color: rgba(240, 244, 195, 1) !important;
    color: rgba(34, 34, 34, 1);
}

.ki-lime:hover {
    background-color: rgba(205, 220, 57, 1) !important;
}

.ki-orange.dark {
    background-color: rgba(229, 73, 24, 1) !important;
    color: white !important;
}

.ki-orange {
    background-color: rgba(254, 86, 33, 1) !important;
    color: white !important;
}

.ki-orange.light {
    background-color: rgba(254, 203, 187, 1) !important;
    color: #202020 !important;
}

.ki-orange:hover {
    background-color: rgba(254, 86, 33, 1) !important;
}

.ki-red.darken {
    background-color: rgb(111, 20, 23) !important;
    color: white !important;
}

.ki-red.dark {
    background-color: rgb(162, 29, 33) !important;
    color: white !important;
}

.ki-red {
    background-color: rgb(238, 43, 49) !important;
    color: white !important;
}

.ki-red.light {
    background-color: rgb(254, 204, 209) !important;
    color: rgba(34, 34, 34, 1) !important;
}

.ki-red:hover {
    background-color: rgb(238, 43, 49) !important;
}

.ki-yellow.dark {
    background-color: rgba(251, 192, 45, 1) !important;
    color: white !important;
}

.ki-yellow {
    background-color: rgba(255, 235, 59, 1) !important;
    color: #202020 !important;
}

.ki-yellow.light {
    background-color: rgba(255, 235, 209, 1) !important;
    color: #202020 !important;
}

.ki-yellow:hover {
    background-color: rgba(255, 235, 59, 1) !important;
}

.ki-white {
    background-color: rgba(255, 255, 255, .5) !important;
    color: rgba(34, 34, 34, .5) !important;
}

.ki-transparent {
    background-color: transparent !important;
    color: rgba(27, 54, 100, 1) !important;
}

.ki-peach {
    background-color: rgb(253, 201, 164) !important;
    color: rgb(34, 34, 34);
}

.ki-c-blue {
    color: rgb(33, 150, 243) !important;
}

.ki-c-grey {
    color: rgb(207, 216, 220) !important;
}

.ki-c-grey-dark {
    color: rgb(96, 125, 139) !important;
}

.ki-c-red {
    color: rgb(238, 43, 49) !important;
}

.ki-c-peach {
    color: rgb(253, 201, 164) !important;
}

.ki-c-white {
    color: white !important;
}