/*Kipa-Input*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {   
	border: 1px solid rgba(34, 34, 34, .1) !important;
	border-radius: 0 !important;
}

.has-error textarea,
.has-error input[type="text"],
.has-error input[type="password"],
.has-error input[type="datetime"],
.has-error input[type="datetime-local"],
.has-error input[type="date"],
.has-error input[type="month"],
.has-error input[type="time"],
.has-error input[type="week"],
.has-error input[type="number"],
.has-error input[type="email"],
.has-error input[type="url"],
.has-error input[type="search"],
.has-error input[type="tel"],
.has-error input[type="color"],
.has-error .uneditable-input {   
	border: 1px solid #C2272C !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	border: 1px solid #378D3B !important;
	box-shadow: none !important;
	outline: 0 none !important;
}

.has-error textarea:focus,
.has-error input[type="text"]:focus,
.has-error input[type="password"]:focus,
.has-error input[type="datetime"]:focus,
.has-error input[type="datetime-local"]:focus,
.has-error input[type="date"]:focus,
.has-error input[type="month"]:focus,
.has-error input[type="time"]:focus,
.has-error input[type="week"]:focus,
.has-error input[type="number"]:focus,
.has-error input[type="email"]:focus,
.has-error input[type="url"]:focus,
.has-error input[type="search"]:focus,
.has-error input[type="tel"]:focus,
.has-error input[type="color"]:focus,
.has-error .uneditable-input:focus {   
	border: 1px solid #C2272C !important;
	box-shadow: none !important;
	outline: 0 none !important;
}

/*Kipa-FormError*/
.help-block {
	margin-bottom: 0;
	text-align: right;
}

.has-error .help-block {
	font-size: 1rem;
}

.help-block.info {
	font-weight: 500;
	font-size: 1.2rem;
	opacity: .7;
	padding: 0 .5rem;
}

.form-group>label {
    font-size: 1.3rem;
    font-weight: 500;
    opacity: .5;
}