/*Kipa-Modals*/
.modal-content {
	border-radius: 3px;
	border: none;
	box-shadow: none;
}

.modal {
  text-align: center;
}

.modal-header {
  padding: .5rem;
  padding-left: 1rem;
}

.modal-title {
  font-size: 2.6rem;
  font-weight: 300;
}

.modal-title i.material-icons {
  font-size: 3rem;
}

.modal.fadeIn {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: 0;
  -moz-animation-duration: .3s;
  -moz-animation-delay: 0;
  animation-duration: .3s;
  animation-delay: 0;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-footer {
	border: none;
	padding: 5px;
}