/*Kipa-Panel*/

.panel {
    border: none;
    background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
	border-bottom: 1px solid #E9E9E9;
}

.panel-heading .material-icons {
	font-size: 2.2rem;
}

.panel>.panel-heading {
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-weight: 200;
	padding: .5rem;
    border: none;
}