.m-top1 {
    margin-top: 1rem;
}

.m-top2 {
    margin-top: 2rem;
}

.m-top3 {
    margin-top: 3rem;
}

.m-bottom1 {
    margin-bottom: 1rem;
}

.m-bottom2 {
    margin-bottom: 2rem;
}

.m-bottom3 {
    margin-bottom: 3rem;
}

.pad1 {
    padding: 1rem;
}

.pad2 {
    padding: 2rem;
}

.pad3 {
    padding: 3rem;
}

.hidden {
    visibility: hidden;
}

.middle {
    vertical-align: middle;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-t {
    padding-top: 0 !important;
}

.no-padding-b {
    padding-bottom: 0 !important;
}

.no-padding-l {
    padding-left: 0 !important;
}

.no-padding-r {
    padding-right: 0 !important;
}

.no-margin-lr {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.ki-inline {
    display: inline-block !important;
}

.ki-center {
    text-align: center !important;
}

.ki-right {
    text-align: right !important;
}

.ki-left {
    text-align: left !important;
}