.jssora061 {
    display: block;
    position: absolute;
    cursor: pointer
}

.jssora061 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 360;
    stroke-linecap: round
}

.jssora061:hover {
    opacity: .8
}

.jssora061.jssora061dn {
    opacity: .5
}

.jssora061.jssora061ds {
    opacity: .3;
    pointer-events: none
}